body {
  background-color: #000;
}
.wrapper {
  text-align: center;
  position: relative;
  top: 8rem;
}
.inputs {
  position: relative;
  right: 320px;
  width: 100%;
}
div {
  position: relative;
  right: 30px;
  color: #fff;
  font-size: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.lorem-text {
  color: #fff;
  font-size: 40px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
}

.block-one,
.block-three {
  position: relative;
  right: 115px;
}
.block-two {
  position: relative;
  right: 105px;
}

#red-input,
#green-input,
#blue-input{
  width: 300px;
}

.block-one::first-letter {
  color: red;
  font-size: 50px;
}
.block-two::first-letter {
  color: green;
  font-size: 50px;
}
.block-three::first-letter {
  color: blue;
  font-size: 50px;
}
